
@{
    ViewData["Title"] = "SlotConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>SlotConfirmation</h1>*@

<p>
    @TempData["message"]
</p>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>